#v-header {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

#v-header .fullscreen-video-wrap {
  border-bottom: 1px #26B3BF solid;
  -webkit-box-shadow: 1px 1px 2px #26B3BF;
          box-shadow: 1px 1px 2px #26B3BF;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#v-header .fullscreen-video-wrap video {
  min-width: 100%;
  min-height: 100%;
}

#v-header .header-overlay {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: black;
  z-index: 1;
  opacity: 0.5;
}

#v-header .header-container {
  z-index: 2;
  width: 100%;
  height: 40vh;
}

#v-header .header-container h1 {
  font-family: Raleway, serif;
  text-align: center;
  text-transform: uppercase;
}

#v-header .header-container #quote1 {
  font-size: 90px;
}

#v-header .header-container #quote2 {
  font-size: 60px;
}

#statistics {
  overflow-x: hidden;
}

#statistics #box-1 {
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 10px;
}

#statistics #box-2 {
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 10px;
}

#statistics #box-3 {
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 10px;
}

#statistics .box {
  min-width: 220px;
  height: 220px;
  width: 220px !important;
  margin: 0;
  float: none;
  text-align: left;
  display: inline-block;
  border: 4px solid #26B3BF;
  border-radius: 2px;
  padding: 20px;
  color: #322B2B;
}

#statistics .box h2 {
  font-weight: bolder;
  font-size: 3rem;
}

#statistics .box p {
  font-size: 16px;
  font-weight: 500;
  font-style: italic;
}

#statistics .box-container {
  width: 220px;
  padding: 25px 25px 25px 25px !important;
}

#journey_ambassador_and_events {
  overflow-x: hidden;
  color: white;
  text-align: center;
  position: relative;
  background: url(../img/world_bg.gif) no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#journey_ambassador_and_events .overlay {
  background: black;
  opacity: 0.7;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

#journey_ambassador_and_events .container {
  z-index: 1;
}

#journey_ambassador_and_events .modal {
  color: black;
  margin-top: 120px;
  z-index: 1020;
}

#partners {
  background: white;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#partners .partner-container {
  width: 300px;
  margin: 10px 20px 10px 20px;
}

#partners .partner-container img {
  width: 100%;
}

#partners * {
  -webkit-transition: all 0.5s cubic-bezier(0, 1, 0.3, 1);
  transition: all 0.5s cubic-bezier(0, 1, 0.3, 1);
}

#partners img {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

#partners img:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
}

#social {
  overflow-x: hidden;
  background: url(../img/edmonton_bg.gif);
  background-size: cover;
}

#social .instagram-container {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

#social .icon-container {
  padding: 20px;
}

#social i {
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  color: white;
}

#social i:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
}

@media (max-width: 766px) and (min-width: 300px) {
  .v-header .header-container #quote1 {
    font-size: 60px;
  }
  .v-header .header-container #quote2 {
    margin-top: 50px;
    font-size: 40px;
  }
  .v-header .header-overlay {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background: #26B3BF;
    z-index: 1;
    opacity: 1;
  }
  #statistics h1 {
    font-size: 30px;
  }
  #statistics #box-3 {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 10px;
  }
  #partners h1 {
    font-size: 30px;
  }
  #journey_ambassador h1 {
    font-size: 30px;
  }
  #events .events-heading h1 {
    font-size: 30px;
    font-weight: lighter;
    margin: auto;
    border-bottom: 1px #ddd solid;
  }
  #events #speakers-attending a {
    font-size: 20px;
  }
  #events h1 {
    font-size: 25px;
  }
  #events .event-description {
    font-size: 20px;
  }
  #events iframe {
    width: auto;
  }
  #social_media .instagram-container {
    width: 100%;
  }
  #footer .col {
    padding-left: 30px;
    padding-top: 20px;
  }
}

@media (max-width: 990px) and (min-width: 767px) {
  .header-overlay {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background: #26B3BF;
    z-index: 1;
    opacity: 1;
  }
  .navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: #f0f0f0;
    border: 1px solid #aaaaaa;
    border-radius: 0.25rem;
  }
  .navbar .nav-item {
    padding-right: 2px;
  }
  .navbar .nav-item a {
    font: 1rem Raleway !important;
  }
  .v-header .header-content h1 {
    text-transform: uppercase;
    font-size: 75px;
    margin-bottom: 0;
    text-shadow: 5px 5px 5px #26B3BF;
  }
  .navbar .nav-item a {
    color: black;
    text-decoration: none;
    font: 0.9rem Raleway;
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
    text-align: left;
  }
  #statistics #box-1 {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 10px;
  }
  #statistics #box-2 {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 10px;
  }
  #statistics #box-3 {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 10px;
  }
  #events #speakers-attending a {
    font-size: 20px;
  }
  .glider-contain {
    width: 75% !important;
  }
  iframe {
    width: 650px;
    height: 400px;
  }
  #footer {
    font-size: 0.9rem;
  }
}
