.navbar {
  padding: 18px;
  background: white;
  -webkit-transition: all 1s cubic-bezier(0.61, 0.2, 0.43, 0.99);
  transition: all 1s cubic-bezier(0.61, 0.2, 0.43, 0.99);
}

.navbar .nav-item {
  text-transform: uppercase;
  text-decoration: none;
}

.navbar .logo-container {
  width: 130px;
  margin-top: -20px;
  margin-bottom: -20px;
  -webkit-transition: all 1s cubic-bezier(0.61, 0.2, 0.43, 0.99);
  transition: all 1s cubic-bezier(0.61, 0.2, 0.43, 0.99);
}

.navbar .logo-container img {
  width: 100%;
}

.navbar .nav-link {
  -webkit-transition: all 1s cubic-bezier(0.61, 0.2, 0.43, 0.99);
  transition: all 1s cubic-bezier(0.61, 0.2, 0.43, 0.99);
}

.navbar a {
  color: gray;
  text-decoration: none;
  font: 1.4rem Raleway;
  margin: 0px 10px;
  padding: 10px 10px;
  position: relative;
  z-index: 0;
  cursor: pointer;
}

.navbar .topBotomBordersOut a:before, .navbar .topBotomBordersOut a:after {
  position: absolute;
  left: 0px;
  width: 100%;
  height: 2px;
  background: #26B3BF;
  content: "";
  opacity: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.navbar .topBotomBordersOut a:before {
  top: 0px;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

.navbar .topBotomBordersOut a:after {
  bottom: 0px;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.navbar .topBotomBordersOut a:hover:before, .navbar .topBotomBordersOut a:hover:after {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.topBotomBordersOut a:before, .topBotomBordersOut a:after {
  position: absolute;
  left: 0px;
  width: 100%;
  height: 2px;
  background: #26B3BF;
  content: "";
  opacity: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.topBotomBordersOut a:before {
  top: 0px;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

.topBotomBordersOut a:after {
  bottom: 0px;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.topBotomBordersOut a:hover:before, .topBotomBordersOut a:hover:after {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

body .page-title {
  font-family: 'Raleway', sans-serif;
  font-size: 100px;
  margin-bottom: 0;
  text-shadow: 2px 2px 5px black;
}

body h1 {
  font-size: 40px;
  font-family: 'Roboto Slab', serif;
}

body h2 {
  font-size: 35px;
  font-family: 'Roboto Slab', serif;
}

body h3 {
  font-size: 25px;
  font-family: 'Roboto Slab', serif;
}

body p {
  font-size: 18px;
  font-family: 'Roboto Slab', serif;
}

body .grey-line-and-margins {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-bottom: 1px rgba(0, 0, 0, 0.2) solid;
}

body .btn {
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
  background: #26B3BF;
  width: 250px;
  border-radius: 0px;
}

body .btn .btn-text {
  font-family: Raleway, serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: white;
  font-size: 24px;
}

body .btn a {
  text-decoration: none;
  color: white;
}

body .btn strong {
  text-transform: uppercase;
}

body .btn:hover {
  border-color: white;
}

body ul {
  list-style-type: none;
}

#footer {
  overflow-x: hidden;
  color: white;
  background: black;
}

@media (max-width: 766px) and (min-width: 300px) {
  .navbar .navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: #f0f0f0;
    border: 1px solid #aaaaaa;
    border-radius: 0.25rem;
    margin-right: 20px;
  }
  .navbar .navbar-collapse {
    margin-top: 20px;
  }
  .navbar .logo-container img {
    margin-left: -20px;
  }
  .navbar .nav-item a {
    text-align: left;
    font: 1.5rem Raleway !important;
    margin: 5px 5px !important;
  }
  .col-sm {
    margin: 5px;
  }
}
