$primary: #26b3bf;
$gray: #F5F2F2;

.navbar{
    padding: 18px;
    background: white;
    transition: all 1s cubic-bezier(.61,.2,.43,.99);
 
    .nav-item{
        // padding-right: 2rem; room for Ways To Give
        text-transform: uppercase;
        text-decoration: none;
    }


    .logo-container{
      width: 140px;
      margin-top: -20px;
      margin-bottom: -20px;
      transition: all 1s cubic-bezier(.61,.2,.43,.99);

      img{
        width: 100%;
      }
    }

    .nav-link{
      transition: all 1s cubic-bezier(.61,.2,.43,.99);
    }

    a{
      color: gray;
      text-decoration: none;
      font: 1.4rem Raleway;
      margin: 0px 10px;
      padding: 10px 10px;
      position: relative;
      z-index: 0;
      cursor: pointer;
    }

    

    .topBotomBordersOut a:before, .topBotomBordersOut a:after
    {
        position: absolute;
        left: 0px;
        width: 100%;
        height: 2px;
        background: $primary;
        content: "";
        opacity: 0;
        transition: all 0.2s;
    }
    .topBotomBordersOut a:before{
        top: 0px;
        transform: translateY(10px);
    }

    .topBotomBordersOut a:after{
        bottom: 0px;
        transform: translateY(-10px);
    }

    .topBotomBordersOut a:hover:before, .topBotomBordersOut a:hover:after{
        opacity: 1;
        transform: translateY(0px);
    }
}

body{
    background-color: #f5f2f2;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23187091' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23317eb5' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%235cadc0' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%236fbcbe' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23679ec3' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23457894' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%236f98c8' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%234394be' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%2353649c' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%233187c1' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%238895cc' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23223768' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Roboto Slab', sans-serif;
    overflow-x: hidden;

    h1{
        text-transform: uppercase;
        font-size: 100px;
        margin-bottom: 0;
        text-shadow: 2px 2px 5px black;
        font-family: 'Raleway', sans-serif;
    }

    h3{
        color: black;
        text-transform: uppercase;
        font-size: 75px;
        text-shadow: 5px 5px 5px white;
        font-weight: 500;
    }

    h4{
        text-align: center;
        font-size: 30px;
        color: white;
        text-shadow: 3px 3px 3px black;
    }

    .city-header-text{
        font-size: 3rem;
        text-align: center;
        color: white;
        text-shadow: 2px 2px 5px black;
        margin: 0 0 20px 0;
    }

    .header-text{
        text-align: center;
        font-size: 3rem;
        padding-bottom: 20px;
        border-bottom: white solid 1px;
        margin-bottom: 50px;
        color: white;
        text-shadow: 2px 2px 5px black;
    }

    .padding{
        padding-top: 30px;
        padding-bottom: 30px;
    }

    iframe{
        width: 100%;
        height: 50vh;
    }
}

#header{

    .background-container{
        background: #000 url(../img/stage.gif) no-repeat;
        background-size: cover;
        width: 100%;
        height: 100vh;
        background-position: center;
        color: white;
        position: relative;
        z-index: 0;
        background-attachment: fixed;
        
        .background-overlay{
            background: black; 
            opacity: 0.2;
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: -1;
        }
    }    
}

#introduction{
    font-size: 1.5rem;
    background: $gray;
    text-align: center;
    box-shadow: 0px 3px 6px 1px rgba(0,0,0,0.75);
}

#events{
    // overflow-x: hidden;
    // position: relative;
    // border-radius: 1px;
    // box-shadow: 2px 1px 20px black;
    // text-align: center;
    // height: auto;
    // color: white;
    // background: url(../img/edmonton_bg.gif);
    // background-size: cover;
  
    // .white-border{
    //   border-bottom: 1px #ddd solid;
    //   width: 100%;
    //   height: 10vh;
    // }
  
    // .event-description{
    //   font-size: 30px;
    // }
  
    // .events-overlay{
    //   height: 100%;
    //   width: 100vw;
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   background: $primary;
    //   z-index: 0;
    //   opacity: 0.1;
    // }
  
    // .muted{
    //   font-style: italic;
    // }
  
    // #iskl{
    //   border-radius: 20px;
    //   box-shadow: 2px 1px 10px black;
    // }
  
    // #iskl-div{
    //     margin-top: -15px;
    //   #iskl-link{
    //     text-decoration: none;
    //     font-style: italic; 
    //     color: #ddd;
    //     text-shadow: none;
    //     font-size: 40px;
    //   }
    // }
    
  
    // #speakers-attending{
    //   a{
    //     color: whitesmoke;
    //     text-decoration: none;
    //     font: 30px Roboto Slab;
    //     margin: 0px 10px;
    //     padding: 10px 10px;
    //     position: relative;
    //     z-index: 0;
    //     cursor: pointer;
    //   }
    //   a:hover{
    //     color: $primary;
    //   }
     
    //   .topBotomBordersOut a:before, .topBotomBordersOut a:after
    //   {
    //       position: absolute;
    //       left: 0px;
    //       width: 100%;
    //       height: 2px;
    //       background: $primary;
    //       content: "";
    //       opacity: 0;
    //       transition: all 0.2s;
    //   }
    //   .topBotomBordersOut a:before{
    //       top: 0px;
    //       transform: translateY(10px);
    //   }
  
    //   .topBotomBordersOut a:after{
    //       bottom: 0px;
    //       transform: translateY(-10px);
    //   }
  
    //   .topBotomBordersOut a:hover:before, .topBotomBordersOut a:hover:after{
    //       opacity: 1;
    //       transform: translateY(0px);
    //   }
    // }   
  
    // .events-heading{
    //     h1{
    //         font-size: 45px;
    //         font-weight: lighter;
    //         width: 75%;
    //         margin: auto;
    //         padding-bottom: 5px;
    //         border-bottom: 1px white solid;
    //         text-shadow: 0px 0px white; 
    //     }
    // }
      
    // h1{
    // font-size: 50px;
    // text-shadow: 5px 5px 5px black;
    // }
  

    // ul{
    //     text-align: left;
    //     list-style-type: circle;
    // }

  }

#summits{
    
    position: relative;
    text-align: center;

    .container{
        padding: 80px 0px 80px 0px;
        
    }

    strong{
        text-transform: uppercase;
        font-size: 75px;
        text-shadow: 5px 5px 5px white;
        font-weight: 500;
    }

    .description{
        position: relative;
        z-index: 1;
        padding-top: 10px;
        padding-bottom: 25px;

        h4{
            font-size: 1.5rem;
            color: black;
        }

        .overlay{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: $gray;
            border: #26b3bf solid 10px;
            opacity: 0.8;
            z-index: -1;
        }

        .col{
            padding: 100px 0px 100px 0px;
        }
    }

    .img-fluid{
        max-width: 50%;
    }

    #speakers-container{
        padding-left: 10px;
        padding-right: 30px;
        .img-container{
            width: 200px;
            height: 200px;
            margin-left: 5px;
            margin-right: 5px;
            margin-top: 15px;
            margin-bottom: 15px;
            
        }
        .img-container-1{
            width: 150px;
            height: 150px;
            margin-left: 5px;
            margin-right: 5px;
            margin-top: 20px;
            margin-bottom: 20px;
        }
        .speaker-name{
            font-weight: bold;
            text-shadow: 3px 3px 5px black;
            color: white;
            font-size: 20px;
            padding-top: 195px;
        }
        .speaker-name-1{
            font-weight: bold;
            text-shadow: 3px 3px 5px black;
            color: white;
            font-size: 20px;
            padding-top: 145px;
        }
        #sarah{
            background: url(../img/speakers/vision2020/sarah.gif);
            background-position: center;
        }
        #dillon{
            background: url(../img/speakers/vision2020/dillon.gif);
            background-position: center;
        }
        #shadille{
            background: url(../img/speakers/vision2020/shadille.gif);
            background-position: center;
        }
        #james_george{
            background: url(../img/speakers/vision2020/james&george.gif);
            background-position: center;
        }
        #josh{
            background: url(../img/speakers/vision2020/josh.gif);
            background-position: center;
        }
        #paul{
            background: url(../img/speakers/vision2020/paul.gif);
            background-position: center;
        }
        #carla{
            background: url(../img/speakers/vision2020/carla.gif);
            background-position: center;
        }
        #ty{
            background: url(../img/speakers/vision2020/tyler.gif);
            background-position: center;
        }
        #lauren{
            background: url(../img/speakers/vision2020/lauren.gif);
            background-position: center;
        }
    }

    .form-container{
        width: 80%;
        margin-left: auto;
        margin-right: auto; 
        background: white;
        opacity: 0.8;
        border: $primary 10px solid;

        h3{
            font-family: 'Roboto Slab', sans-serif;
            font-size: 40px;
            color: black;
        }
        p{
            font-family: 'Roboto Slab', sans-serif;
            font-size: 20px;
        }
        label{
            font-family: 'Roboto Slab', sans-serif;
            font-size: 20px;
        }
    }
}

#past-events{
    .events-container{
        padding: 80px 0px 80px 0px;
    }

    img{
        border-radius: 10px;
        box-shadow: white 0px 0px 10px;
    }
}

#past-summits{
    .past-conferences-container{
        padding-left: 30px;
        padding-right: 30px;
        .single-conference-container{
            width: 300px;
            height: 300px;
            margin-left: 10px;
            margin-right: 10px;
            margin-top: 80px;
            margin-bottom: 20px;
            border: white solid 2px;
            box-shadow: #F5F2F2 0px 0px 10px;
            border-radius: 10px;

            .conference-text{
                padding-top: 300px;
                color: white;

                p{
                    font-size: 20px;
                    margin-bottom: 2px;   
                }
            }
        }

        #intensive-conference-1{
            background: url(../img/summits/edmonton1.jpg);
            background-size: cover;
            background-position: center;
        }
        #intensive-conference-2{
            background: url(../img/summits/edmonton2.jpg);
            background-size: cover;
            background-position: center;
        }
        #intensive-conference-3{
            background: url(../img/summits/edmonton3.jpg);
            background-size: cover;
            background-position: center;
        }

        // CHINA
        #china-1{
            background: url(../img/summits/schools/hope_international_school.gif);
            background-size: cover;
            background-position: center;
        }
        #china-2{
            background: url(../img/summits/schools/beijing_city_international_school.gif);
            background-size: cover;
            background-position: center;
        }
        #china-3{
            background: url(../img/summits/schools/qingdao_amerasia_international_school.gif);
            background-size: cover;
            background-position: center;
        }
        #china-4{
            background: url(../img/summits/schools/concordia_international_school.gif);
            background-size: cover;
            background-position: center;
        }
        #china-5{
            background: url(../img/summits/schools/suzhou_international_school.gif);
            background-size: cover;
            background-position: center;
        }



    }  
    
}

#footer{
    text-align: center;
    color: white;
    background:black;
}

@media (max-width: 766px) and (min-width: 300px) {
    .navbar-toggler{
        padding: 0.25rem 0.75rem;
        font-size: 1.25rem;
        line-height: 1;
        background-color: rgb(240, 240, 240);
        border: 1px solid rgb(170, 170, 170);
        border-radius: 0.25rem;
        margin-right: 20px;
    }
    
    .navbar-collapse{
        margin-top: 20px;
    }
    
    .navbar{
      .logo-container{
        img{
          margin-left: -20px;
        }
      }
      .nav-item{
        a{
          text-align: left;
          font: 1.5rem Raleway !important;
          margin: 5px 5px !important;
        }
      }
    }

    body{
        p{
            font-size: 16px;
        }
        h1{
            font-size: 50px;
        }
        h3{
            font-size: 35px;
        }
        h4{
            font-size: 16px !important;
        }
    }


    .edmonton-expo{
        visibility: hidden;
    }

    #summits{
        .img-fluid{
            max-width: 75%;
        }


        .summit-container{
            .container{
                .row{
                    margin-right: 10px;
                    margin-left: 10px;
                    .col{
                        
                            iframe{
                                width: 100%;
                                height: 50vh;
                            }
                        
                    }
                }
            }
        }
    }

    #past-summits{
        .row{
            margin-right: 10px;
            margin-left: 10px;
        }
        .summit-container{
           
            .city-header-text{
                font-size: 30px;
            }

            #beijing1{
                .col{
                    p{
                        font-size: 1.5rem;
                    }
                }                
            }
            #beijing2{
                .col{
                    p{
                        font-size: 1.5rem;
                    }
                }                
            }
            #qingdao1{
                .col{
                    p{
                        font-size: 1.5rem;
                    }
                }
            }
            #shanghai1{
                .col{
                    p{
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }

    #footer{
        .col{
          padding-left: 30px;
          padding-top: 20px;
        }
    }
}

@media (max-width: 990px) and  (min-width: 767px){

.navbar-toggler{
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: rgb(240, 240, 240);
    border: 1px solid rgb(170, 170, 170);
    border-radius: 0.25rem;
  }

  .navbar{
    .nav-item{
      padding-right: 2px;
      a{
        font: 1rem Raleway !important;
        // margin: 10px 10px !important;
      }
    }
  }

}