.navbar {
  padding: 18px;
  background: white;
  -webkit-transition: all 1s cubic-bezier(0.61, 0.2, 0.43, 0.99);
  transition: all 1s cubic-bezier(0.61, 0.2, 0.43, 0.99);
}

.navbar .nav-item {
  text-transform: uppercase;
  text-decoration: none;
}

.navbar .logo-container {
  width: 140px;
  margin-top: -20px;
  margin-bottom: -20px;
  -webkit-transition: all 1s cubic-bezier(0.61, 0.2, 0.43, 0.99);
  transition: all 1s cubic-bezier(0.61, 0.2, 0.43, 0.99);
}

.navbar .logo-container img {
  width: 100%;
}

.navbar .nav-link {
  -webkit-transition: all 1s cubic-bezier(0.61, 0.2, 0.43, 0.99);
  transition: all 1s cubic-bezier(0.61, 0.2, 0.43, 0.99);
}

.navbar a {
  color: gray;
  text-decoration: none;
  font: 1.4rem Raleway;
  margin: 0px 10px;
  padding: 10px 10px;
  position: relative;
  z-index: 0;
  cursor: pointer;
}

.navbar .topBotomBordersOut a:before, .navbar .topBotomBordersOut a:after {
  position: absolute;
  left: 0px;
  width: 100%;
  height: 2px;
  background: #26b3bf;
  content: "";
  opacity: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.navbar .topBotomBordersOut a:before {
  top: 0px;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

.navbar .topBotomBordersOut a:after {
  bottom: 0px;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.navbar .topBotomBordersOut a:hover:before, .navbar .topBotomBordersOut a:hover:after {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

body {
  background-color: #f5f2f2;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23187091' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23317eb5' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%235cadc0' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%236fbcbe' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23679ec3' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23457894' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%236f98c8' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%234394be' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%2353649c' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%233187c1' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%238895cc' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23223768' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Roboto Slab', sans-serif;
  overflow-x: hidden;
}

body h1 {
  text-transform: uppercase;
  font-size: 100px;
  margin-bottom: 0;
  text-shadow: 2px 2px 5px black;
  font-family: 'Raleway', sans-serif;
}

body h3 {
  color: black;
  text-transform: uppercase;
  font-size: 75px;
  text-shadow: 5px 5px 5px white;
  font-weight: 500;
}

body h4 {
  text-align: center;
  font-size: 30px;
  color: white;
  text-shadow: 3px 3px 3px black;
}

body .city-header-text {
  font-size: 3rem;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 5px black;
  margin: 0 0 20px 0;
}

body .header-text {
  text-align: center;
  font-size: 3rem;
  padding-bottom: 20px;
  border-bottom: white solid 1px;
  margin-bottom: 50px;
  color: white;
  text-shadow: 2px 2px 5px black;
}

body .padding {
  padding-top: 30px;
  padding-bottom: 30px;
}

body iframe {
  width: 100%;
  height: 50vh;
}

#header .background-container {
  background: #000 url(../img/stage.gif) no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-position: center;
  color: white;
  position: relative;
  z-index: 0;
  background-attachment: fixed;
}

#header .background-container .background-overlay {
  background: black;
  opacity: 0.2;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#introduction {
  font-size: 1.5rem;
  background: #F5F2F2;
  text-align: center;
  -webkit-box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.75);
}

#summits {
  position: relative;
  text-align: center;
}

#summits .container {
  padding: 80px 0px 80px 0px;
}

#summits strong {
  text-transform: uppercase;
  font-size: 75px;
  text-shadow: 5px 5px 5px white;
  font-weight: 500;
}

#summits .description {
  position: relative;
  z-index: 1;
  padding-top: 10px;
  padding-bottom: 25px;
}

#summits .description h4 {
  font-size: 1.5rem;
  color: black;
}

#summits .description .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #F5F2F2;
  border: #26b3bf solid 10px;
  opacity: 0.8;
  z-index: -1;
}

#summits .description .col {
  padding: 100px 0px 100px 0px;
}

#summits .img-fluid {
  max-width: 50%;
}

#summits #speakers-container {
  padding-left: 10px;
  padding-right: 30px;
}

#summits #speakers-container .img-container {
  width: 200px;
  height: 200px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 15px;
  margin-bottom: 15px;
}

#summits #speakers-container .img-container-1 {
  width: 150px;
  height: 150px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#summits #speakers-container .speaker-name {
  font-weight: bold;
  text-shadow: 3px 3px 5px black;
  color: white;
  font-size: 20px;
  padding-top: 195px;
}

#summits #speakers-container .speaker-name-1 {
  font-weight: bold;
  text-shadow: 3px 3px 5px black;
  color: white;
  font-size: 20px;
  padding-top: 145px;
}

#summits #speakers-container #sarah {
  background: url(../img/speakers/vision2020/sarah.gif);
  background-position: center;
}

#summits #speakers-container #dillon {
  background: url(../img/speakers/vision2020/dillon.gif);
  background-position: center;
}

#summits #speakers-container #shadille {
  background: url(../img/speakers/vision2020/shadille.gif);
  background-position: center;
}

#summits #speakers-container #james_george {
  background: url(../img/speakers/vision2020/james&george.gif);
  background-position: center;
}

#summits #speakers-container #josh {
  background: url(../img/speakers/vision2020/josh.gif);
  background-position: center;
}

#summits #speakers-container #paul {
  background: url(../img/speakers/vision2020/paul.gif);
  background-position: center;
}

#summits #speakers-container #carla {
  background: url(../img/speakers/vision2020/carla.gif);
  background-position: center;
}

#summits #speakers-container #ty {
  background: url(../img/speakers/vision2020/tyler.gif);
  background-position: center;
}

#summits #speakers-container #lauren {
  background: url(../img/speakers/vision2020/lauren.gif);
  background-position: center;
}

#summits .form-container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background: white;
  opacity: 0.8;
  border: #26b3bf 10px solid;
}

#summits .form-container h3 {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 40px;
  color: black;
}

#summits .form-container p {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 20px;
}

#summits .form-container label {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 20px;
}

#past-events .events-container {
  padding: 80px 0px 80px 0px;
}

#past-events img {
  border-radius: 10px;
  -webkit-box-shadow: white 0px 0px 10px;
          box-shadow: white 0px 0px 10px;
}

#past-summits .past-conferences-container {
  padding-left: 30px;
  padding-right: 30px;
}

#past-summits .past-conferences-container .single-conference-container {
  width: 300px;
  height: 300px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 80px;
  margin-bottom: 20px;
  border: white solid 2px;
  -webkit-box-shadow: #F5F2F2 0px 0px 10px;
          box-shadow: #F5F2F2 0px 0px 10px;
  border-radius: 10px;
}

#past-summits .past-conferences-container .single-conference-container .conference-text {
  padding-top: 300px;
  color: white;
}

#past-summits .past-conferences-container .single-conference-container .conference-text p {
  font-size: 20px;
  margin-bottom: 2px;
}

#past-summits .past-conferences-container #intensive-conference-1 {
  background: url(../img/summits/edmonton1.jpg);
  background-size: cover;
  background-position: center;
}

#past-summits .past-conferences-container #intensive-conference-2 {
  background: url(../img/summits/edmonton2.jpg);
  background-size: cover;
  background-position: center;
}

#past-summits .past-conferences-container #intensive-conference-3 {
  background: url(../img/summits/edmonton3.jpg);
  background-size: cover;
  background-position: center;
}

#past-summits .past-conferences-container #china-1 {
  background: url(../img/summits/schools/hope_international_school.gif);
  background-size: cover;
  background-position: center;
}

#past-summits .past-conferences-container #china-2 {
  background: url(../img/summits/schools/beijing_city_international_school.gif);
  background-size: cover;
  background-position: center;
}

#past-summits .past-conferences-container #china-3 {
  background: url(../img/summits/schools/qingdao_amerasia_international_school.gif);
  background-size: cover;
  background-position: center;
}

#past-summits .past-conferences-container #china-4 {
  background: url(../img/summits/schools/concordia_international_school.gif);
  background-size: cover;
  background-position: center;
}

#past-summits .past-conferences-container #china-5 {
  background: url(../img/summits/schools/suzhou_international_school.gif);
  background-size: cover;
  background-position: center;
}

#footer {
  text-align: center;
  color: white;
  background: black;
}

@media (max-width: 766px) and (min-width: 300px) {
  .navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: #f0f0f0;
    border: 1px solid #aaaaaa;
    border-radius: 0.25rem;
    margin-right: 20px;
  }
  .navbar-collapse {
    margin-top: 20px;
  }
  .navbar .logo-container img {
    margin-left: -20px;
  }
  .navbar .nav-item a {
    text-align: left;
    font: 1.5rem Raleway !important;
    margin: 5px 5px !important;
  }
  body p {
    font-size: 16px;
  }
  body h1 {
    font-size: 50px;
  }
  body h3 {
    font-size: 35px;
  }
  body h4 {
    font-size: 16px !important;
  }
  .edmonton-expo {
    visibility: hidden;
  }
  #summits .img-fluid {
    max-width: 75%;
  }
  #summits .summit-container .container .row {
    margin-right: 10px;
    margin-left: 10px;
  }
  #summits .summit-container .container .row .col iframe {
    width: 100%;
    height: 50vh;
  }
  #past-summits .row {
    margin-right: 10px;
    margin-left: 10px;
  }
  #past-summits .summit-container .city-header-text {
    font-size: 30px;
  }
  #past-summits .summit-container #beijing1 .col p {
    font-size: 1.5rem;
  }
  #past-summits .summit-container #beijing2 .col p {
    font-size: 1.5rem;
  }
  #past-summits .summit-container #qingdao1 .col p {
    font-size: 1.5rem;
  }
  #past-summits .summit-container #shanghai1 .col p {
    font-size: 1.5rem;
  }
  #footer .col {
    padding-left: 30px;
    padding-top: 20px;
  }
}

@media (max-width: 990px) and (min-width: 767px) {
  .navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: #f0f0f0;
    border: 1px solid #aaaaaa;
    border-radius: 0.25rem;
  }
  .navbar .nav-item {
    padding-right: 2px;
  }
  .navbar .nav-item a {
    font: 1rem Raleway !important;
  }
}
/*# sourceMappingURL=summits.css.map */