$primary: #26b3bf;
$gray: #F5F2F2;

.navbar{
  #navbar1{
    a{
      font-size: 18px;
      padding-right: 0rem;
      padding-left: 0rem;
    }
  }
}

.navbar{
    padding: 18px;
    background: white;
    transition: all 1s cubic-bezier(.61,.2,.43,.99);
 
    .nav-item{
        // padding-right: 2rem; make room for Ways To Give
        text-transform: uppercase;
        text-decoration: none;
    }


    .logo-container{
      width: 140px;
      margin-top: -20px;
      margin-bottom: -20px;
      transition: all 1s cubic-bezier(.61,.2,.43,.99);

      img{
        width: 100%;
      }
    }

    .nav-link{
      transition: all 1s cubic-bezier(.61,.2,.43,.99);
    }

    a{
      color: gray;
      text-decoration: none;
      font: 1.4rem Raleway;
      margin: 0px 10px;
      padding: 10px 10px;
      position: relative;
      z-index: 0;
      cursor: pointer;
    }

    

    .topBotomBordersOut a:before, .topBotomBordersOut a:after
    {
        position: absolute;
        left: 0px;
        width: 100%;
        height: 2px;
        background: $primary;
        content: "";
        opacity: 0;
        transition: all 0.2s;
    }
    .topBotomBordersOut a:before{
        top: 0px;
        transform: translateY(10px);
    }

    .topBotomBordersOut a:after{
        bottom: 0px;
        transform: translateY(-10px);
    }

    .topBotomBordersOut a:hover:before, .topBotomBordersOut a:hover:after{
        opacity: 1;
        transform: translateY(0px);
    }
}

body{
    font-family: 'Roboto Slab', sans-serif;

    p{
      font-family: 'Roboto Slab', sans-serif;
    }

    h1{
      font-family: 'Raleway', sans-serif;
      text-transform: uppercase;
      font-size: 100px;
      margin-bottom: 0;
      text-shadow: 2px 5px 5px black;
      }

      .display-2{
          font-size: 4rem;
      }
}

#header{

    .background-container{
        background: #000 url(../img/stage_bg.gif) no-repeat;
        background-size: cover;
        width: 100%;
        height: 100vh;
        background-position: center;
        color: white;
        position: relative;
        z-index: 0;
        background-attachment: fixed;
        
        .background-overlay{
            background: black; 
            opacity: 0.2;
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: -1;
        }
    }    
}

#introduction{
    font-size: 1.5rem;
    background: $gray;
    text-align: center;
}

#speakers{
    .speaker-container{
        height: 1000px;
        background: transparent;
        
        .speaker-description{
            z-index: 2;
            position: relative;
            padding-top: 200px;
        }
    }
}

#footer{
    text-align: center;
    color: white;
    background:black;
} 
    
    
@media (max-width: 766px) and (min-width: 300px) {
  .navbar-toggler{
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: rgb(240, 240, 240);
    border: 1px solid rgb(170, 170, 170);
    border-radius: 0.25rem;
    margin-right: 20px
  }

  .navbar-collapse{
    margin-top: 20px;
  }

  .navbar{
    .logo-container{
      img{
        margin-left: -20px;
      }
    }
    .nav-item{
      a{
        text-align: left;
        font: 1.5rem Raleway !important;
        margin: 5px 5px !important;
      }
    }
  }

  body{
    font: 0.8rem 'Roboto Slab';
    
    p{
      font-size: 16px !important;
      padding-left: 20px;
      padding-right: 20px;
      text-align: center;
    }

    h1{
      font-size: 50px;
    }
    .display-2{
        font-size: 50px;
        text-align: center;
    }
  }

  #speakers{
    #carla{
      padding-top: 100px;
      background-position-x: -300px !important;
    }
    #tyler{
      padding-top: 300px;
    }
    #lauren{
      padding-top: 10px;
    }
    #chris{
      padding-top: 250px;
    }
    #josh{
      padding-top: 100px;
    }
    #shayne{

    }
    #jer{
      padding-top: 100px;
    }
    #gracie{
      padding-top: 100px;
    }
    #stephen{
      padding-top: 200px;
    }
    .speaker-container{
      
      .speaker-description{
        padding-top: 20px;
      }
    }
  }

  #footer{
    .col{
      padding-left: 30px;
      padding-top: 20px;
    }
  }
}
@media (max-width: 990px) and  (min-width: 767px){
  .navbar-toggler{
      padding: 0.25rem 0.75rem;
      font-size: 1.25rem;
      line-height: 1;
      background-color: rgb(240, 240, 240);
      border: 1px solid rgb(170, 170, 170);
      border-radius: 0.25rem;
    }
  
    .navbar{
      .nav-item{
        padding-right: 2px;
        a{
          font: 1rem Raleway !important;
          // margin: 10px 10px !important;
        }
      }
    }
  
  body{
      font: 0.9rem Raleway;
      .display-2{
          font-size: 3rem;
          text-align: center;
      }
  }
}

